body {
  background-color: #f5f5f5;
}

hr {
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-color: #4d606e;
}

h1 {
  color: #3fbac2;
}

h3 {
  color: #3fbac2;
}
